  #detailCont {
      position: relative;
      padding-bottom: .6rem;
  }

  .panel-ft {
      box-sizing: border-box;
      text-align: center;
      font-size: .24rem;
      line-height: .32rem;
      color: #12CDB0;
      padding: .1rem 0.1rem 0.1rem .2rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #ffffff 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .8rem;
      line-height: .6rem;
      display: block;
  }

  .panel-ft .toggle-more {
      display: block;
  }

  .panel-ft .toggle-less {
      display: none;
  }

  .tex-content {
      max-height: 4.8rem;
      overflow: hidden;
  }